{% extends "base.html" %}

{% block title %}
    <title>Dentist App</title>
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h1>Dentists in Branches</h1>
        <table>

                {% for key,values in query.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for v in values %}
                    <td>{{v}}</td>
                    {% endfor %}
                    </tr>
                {% endfor%}
        </table>

<button class="btn btn-primary" onclick="location.href = '/';" id="myButton" class="float-left submit-button" >Home</button>



    </div>
{% endblock %}