{% extends "base.html" %}

{% block title %}
    <title>Dentist App</title>
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h1>Dentists in Branches</h1>
        <table class="table">
        <tr>{% for key in keys %}
            <th>{{ key }}</th>
        {% endfor%}</tr>
                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>{{item}}</td>
                    {% endfor %}
                    </tr>
                {% endfor%}
        </table>

<button class="btn btn-primary" onclick="location.href = '/';" id="myButton" class="float-left submit-button" >Home</button>



    </div>
{% endblock %}