{% extends "base.html" %}

{% block title %}
<title>Dentist App</title>
{%  endblock %}

{% block body %}

    <div class="container">
        <h1>Dental Managment System</h1>
        <a href="/patient">Patient form</a> <br>
        <a href="/employee">Employee form</a> <br>
        <a href="/appointment">Appointment form</a> <br>
        <a href="/dentist_in_branch">Dentists in branches </a> <br>
        <a href="/check_appointment_endpoint">Appointments per Dentist </a> <br>
        <a href="/check_procedure_endpoint">List of Procedures </a> <br>
    </div>
{% endblock %}
