{% extends "base.html" %}

{% block title %}
    <title>Dentist App</title>
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h2>Procedure Checker</h2>
        <button class="btn btn-primary" onclick="location.href = '/';" id="myButton" class="float-left submit-button" >Home</button>
        {% if error %}
            <p> Something Went Wrong, please fix the submission and try again</p>
        {% endif %}
        <form method="POST">
            {{ form|crispy }}
            {% if not success %}
                <br>
            <button type="submit" class="btn btn-success">Search Procedures</button>
            {% endif %}
        </form>
        <h2>Procedures Available</h2>
        <table class="table">
        <th>Procedures</th>
                {% for key,values in query.items %}
                    {% for v in values %}
                    <tr>
                    <td>{{v}}</td>
                    </tr>
                        {% endfor %}
                {% endfor%}
        </table>

        </div>
{% endblock %}