{% extends "base.html" %}

{% block title %}
    <title>Dentist App</title>
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h1>Patient Form</h1>
     <button class="btn btn-primary" onclick="location.href = '/';" id="myButton" class="float-left submit-button" >Home</button>
        <form method="post">
            {{ form|crispy }}
            {% if not success %}
                <br>
            <button type="submit" class="btn btn-success">Save person</button>
            {% endif %}
        </form>





    </div>
{% endblock %}